<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes List</title>
</head>

<body>
    <div class="container">
        <h1>Notes List</h1>
        <a href="/add_note">add note</a>

        {% for note in notes %}
        <div class="card">

            <div class="title">title : {{ note.title}}</div>
            <div class="user">user : {{users[note.user_id]}}
            </div>
            
            <div class="content">
                {% if note.user_id == user[0] %}
                <p><strong>Content : </strong>{{note.content}}</p>
                <a href="/notes/{{note._id}}">see more</a>
                <a href="/edit_note/{{note._id}}">edit </a>
                <a href="/delete_note/{{note._id}}">delete </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</body>
</html>